<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Gestión de Reservas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
<!-- Detallle de almacén -->
<div class="container-fluid p-3">
    <div class="row">
        <div class="col-6 offset-3">

            <div class="row">
                <div class="col alert-info rounded p-2">
                    <h3>Detalle de Reserva</h3>
                    <a href="/reservas/menuReservas"><button class="btn btn-primary">Atrás</button></a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <p class="text-right">12, may, 2019</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table table-sm table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre Plato</th>
                            <th>Precio</th>
                            <th>Categoría</th>
                            <th hidden="true">ReservaId</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%lstPlatosSeleccionados.forEach((plato)=>{%>
                        <form action="/reservas/crearReservaPlato" method="post">
                            <tr>

                                <td><input type="text" class="form-control" name="id" value="<%=plato.id%>"></td>
                                <td><input type="text" class="form-control" name="nombrePlato" value="<%=plato.nombrePlato%>"></td>
                                <td><input type="text" class="form-control" name="precio" value="<%=plato.precio%>"></td>
                                <td><input type="text" class="form-control" name="categoria" value="<%=plato.categoria%>"></td>
                                <td><input type="text" class="form-control" hidden="true" name="reservaId" value="<%=idReserva%>"></td>
                            </tr>
                        </form>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="container-fluid p-3">
    <div class="row">
        <div class="col">
            <h3>Platos Disponible</h3>
            <p>Disfrute de nuestras delicias</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre Plato</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th hidden="true">ReservaId</th>
                </tr>
                </thead>
                <tbody>
                <%lstPlatos.forEach((plato)=>{%>
                <form action="/reservas/crearReservaPlato" method="post">
                <tr>

                    <td><input type="text" class="form-control" name="id" value="<%=plato.id%>"></td>
                    <td><input type="text" class="form-control" name="nombrePlato" value="<%=plato.nombrePlato%>"></td>
                    <td><input type="text" class="form-control" name="precio" value="<%=plato.precio%>"></td>
                    <td><input type="text" class="form-control" name="categoria" value="<%=plato.categoria%>"></td>
                    <td><input type="text" class="form-control" hidden="true" name="reservaId" value="<%=idReserva%>"></td>
                    <td><button type="submit" class="btn btn-primary">Aceptar</button></td>
                </tr>
                </form>
                <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
