<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Gestión de Reservas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
<div class="md-form active-pink active-pink-2 mb-3 mt-0">
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>
<div class="md-form active-pink active-pink-2 mb-3 mt-0">
    <button class="bnt btn-success">Buscar</button>
</div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha Reserva</th>
        <th scope="col">Cantidad Personas</th>
        <th scope="col">Ventana</th>
        <th scope="col">Platos</th>
        <th scope="col">Reservas</th>
    </tr>
    </thead>
    <tbody>
        <% lstReservas.forEach((reserva)=> {%>
        <tr>
            <td><%=reserva.id%></td>
            <td><%=reserva.freserva%></td>
            <td><%=reserva.cantidad%></td>
            <td><%=reserva.ventana%></td>
            <td><a href=""><button class="btn btn-primary">Gestionar Platos</button></a></td>
            <td><a href="/reservas/eliminarReservas/<%=reserva.id%>"><button class="btn btn-primary">Eliminar Reserva</button></a></td>
        </tr>
        <%})%>
    </tbody>
</table>
</body>
